
.hero-bg{
    background-image: url("https://res.cloudinary.com/dm9tstije/image/upload/v1683032304/ifpolicy/policy-page-banner-scaled-1_incdmc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: 70px;
}
.hero-bg-2{
    background-color: #f3f3f3;
}
.heading{
    color: #fff;
    font-size: 40px;
    width: 200px;
}
.description{
    color: #fff;
    margin-top: 20px;
}
.heading1{
    color: #000;
    font-weight: 400;
    font-size: 30px;
}
.description1{
    color: #000;
    margin-top: 20px;
}